<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/module.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Módulos</title>

</head>
<body>
    <img class="logo-img" src="static/assets/img/logo-facecheck-branca.svg" alt="Vale">

    <a class="results-link" href="/resultados">Resultados</a>
    <img class="logo-vale" src="static/assets/img/vale-logo-branca.svg" alt="Vale">

    <div class="module-conteiner">
        <div class="top-modules">
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Portarias" onclick="iniciarReconhecimentoFacial('Portarias')">
                <p>Portarias</p>
            </div>
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Oficina" onclick="iniciarReconhecimentoFacial('Oficina')">
                <p>Oficina</p>
            </div>
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Píers" onclick="iniciarReconhecimentoFacial('Píers')">
                <p>Píers</p>
            </div>
            <div class="module">
                <img src="static/assets/img/module.svg" alt="CCO" onclick="iniciarReconhecimentoFacial('CCO')">
                <p>CCO</p>
            </div>
        </div>

        <div class="bottom-modules">
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Pátios" onclick="iniciarReconhecimentoFacial('Pátios')">
                <p>Pátios</p>
            </div>
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Administrativo" onclick="iniciarReconhecimentoFacial('Admnistrativo')">
                <p>Administrativo</p>
            </div>
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Parque Botânico" onclick="iniciarReconhecimentoFacial('Parque Botânico')">
                <p>Parque Botânico</p>
            </div>
            <div class="module">
                <img src="static/assets/img/module.svg" alt="Cobre" onclick="iniciarReconhecimentoFacial('Cobre')">
                <p>Cobre</p>
            </div>
        </div>
    </div>

</body>
</html>

<script src="static/assets/js/dic.js"></script>
<script src="static/assets/js/script.js"></script>

