<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/resultado.css">
    <title>Resultados</title>
</head>
<body>
    <a href="index.html">
        <img class="logo-img" src="static/assets/img/logo-facecheck-branca.svg" alt="Vale">
    </a>

    <img class="logo-vale" src="static/assets/img/vale-logo-branca.svg" alt="Vale">

    <div class="results-container">
        <h1 class="results-title">Resultados</h1>
        <div class="result-images">
            <div class="result-image">
                <img src="static/assets/img/tx-reconhecimento.png" alt="Taxa de Reconhecimento">
            </div>
            <div class="result-image">
                <img src="static/assets/img/acurácia.png" alt="Acurácia">
            </div>
        </div>
    </div>
</body>
</html>